{{ 'custom-announcement-bar.css' | asset_url | stylesheet_tag }}
{% style %}
    .custom-announcement-bar-{{ section.id }}{
        background-color: {{section.settings.background}};
        margin-top: {{section.settings.margin-top}}px;
        margin-bottom: {{section.settings.margin-bottom}}px;
    }
    @media all and (max-width: 600px){
        .custom-announcement-bar-{{ section.id }}{
            margin-top: {{section.settings.margin-top-mobile}}px;
            margin-bottom: {{section.settings.margin-bottom-mobile}}px;
            background-color: {{section.settings.background-mobile}};
        }
    }
{% endstyle %}
<div id="{{section.settings.anchor}}" class="custom-announcement-bar custom-announcement-bar-{{ section.id }}" style="color: {{section.settings.body_text}}">
    <h2 class="announcement-title">{{section.settings.heading}}</h2>
    {% if section.settings.description != blank %}
        <div class="announcement-description">
            {{section.settings.description}}
        </div>
    {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.custom-announcement-bar.name",
  "settings":[
    {
        "type": "richtext",
        "id": "heading",
        "label": "t:sections.custom-announcement-bar.settings.heading.label"
    },
    {
        "type": "range",
        "id": "margin-top",
        "min": 0,
        "max": 100,
        "step": 2,
        "label": "Top margin",
        "default": 0
    },
    {
        "type": "range",
        "id": "margin-bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "label": "Bottom margin",
        "default": 0
    },
    {
        "type": "range",
        "id": "margin-top-mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "label": "Top margin (mobile)",
        "default": 0
    },
    {
        "type": "range",
        "id": "margin-bottom-mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "label": "Bottom margin (mobile)",
        "default": 0
    },
    {
        "type": "richtext",
        "id": "description",
        "label": "t:sections.custom-announcement-bar.settings.description.label"
    },
    {
        "type": "color_background",
        "id": "background",
        "label": "t:sections.custom-announcement-bar.settings.background.label",
        "default": "#C1ED0A"
    },
    {
        "type": "color_background",
        "id": "background-mobile",
        "label": "Background color (mobile)",
        "default": "#C1ED0A"
    },
    {
        "type": "color",
        "id": "body_text",
        "label": "t:sections.custom-announcement-bar.settings.color.label",
        "default": "#000000"
    },
    {
        "type": "text",
        "id": "anchor",
        "label": "Anchor id"
    }
  ],
  "presets": [{
    "name": "Custom Announcement",
    "category": "Text"
  }] 
}
{% endschema %}
